In [1]:
import pandas as pd
import numpy as np
import os
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .appName('airlines_delay')\
    .config('spark.jars', '../jars/snowflake-jdbc-3.13.6.jar, ../jars/spark-snowflake_2.12-2.9.0-spark_3.1.jar') \
    .getOrCreate()

22/10/09 13:43:16 WARN Utils: Your hostname, SPMBP136.local resolves to a loopback address: 127.0.0.1; using 192.168.0.107 instead (on interface en6)
22/10/09 13:43:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/10/09 13:43:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
cols = ['Year',
    'Quarter',
    'Month',
    'DayofMonth',
    'DayOfWeek',
    'FlightDate',
    'Reporting_Airline',
    'DOT_ID_Reporting_Airline',
    'IATA_CODE_Reporting_Airline',
    'Tail_Number',
    'Flight_Number_Reporting_Airline',
    'OriginAirportID',
    'OriginAirportSeqID',
    'OriginCityMarketID',
    'Origin',
    'OriginCityName',
    'OriginState',
    'OriginStateFips',
    'OriginStateName',
    'OriginWac',
    'DestAirportID',
    'DestAirportSeqID',
    'DestCityMarketID',
    'Dest',
    'DestCityName',
    'DestState',
    'DestStateFips',
    'DestStateName',
    'DestWac',
    'CRSDepTime',
    'DepTime',
    'DepDelay',
    'DepDelayMinutes',
    'DepDel15',
    'DepartureDelayGroups',
    'DepTimeBlk',
    'TaxiOut',
    'WheelsOff',
    'WheelsOn',
    'TaxiIn',
    'CRSArrTime',
    'ArrTime',
    'ArrDelay',
    'ArrDelayMinutes',
    'ArrDel15',
    'ArrivalDelayGroups',
    'ArrTimeBlk',
    'Cancelled',
    'CancellationCode',
    'Diverted',
    'CRSElapsedTime',
    'ActualElapsedTime',
    'AirTime',
    'Flights',
    'Distance',
    'DistanceGroup',
    'CarrierDelay',
    'WeatherDelay',
    'NASDelay',
    'SecurityDelay',
    'LateAircraftDelay',
    'FirstDepTime',
    'TotalAddGTime',
    'LongestAddGTime',
    'DivAirportLandings',
    'DivReachedDest',
    'DivActualElapsedTime',
    'DivArrDelay',
    'DivDistance',
    'Div1Airport',
    'Div1AirportID',
    'Div1AirportSeqID',
    'Div1WheelsOn',
    'Div1TotalGTime',
    'Div1LongestGTime',
    'Div1WheelsOff',
    'Div1TailNum',
    'Div2Airport',
    'Div2AirportID',
    'Div2AirportSeqID',
    'Div2WheelsOn',
    'Div2TotalGTime',
    'Div2LongestGTime',
    'Div2WheelsOff',
    'Div2TailNum',
    'Div3Airport',
    'Div3AirportID',
    'Div3AirportSeqID',
    'Div3WheelsOn',
    'Div3TotalGTime',
    'Div3LongestGTime',
    'Div3WheelsOff',
    'Div3TailNum',
    'Div4Airport',
    'Div4AirportID',
    'Div4AirportSeqID',
    'Div4WheelsOn',
    'Div4TotalGTime',
    'Div4LongestGTime',
    'Div4WheelsOff',
    'Div4TailNum',
    'Div5Airport',
    'Div5AirportID',
    'Div5AirportSeqID',
    'Div5WheelsOn',
    'Div5TotalGTime',
    'Div5LongestGTime',
    'Div5WheelsOff',
    'Div5TailNum'
]

In [4]:
file_path = "../datasets/t_ontime.csv"

delay = spark.read.csv(file_path, sep=r'\t', header=False)
delay = delay.toDF(*cols)

In [5]:
delay.limit(10).toPandas()

22/10/09 13:43:26 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1988,4,12,1,4,1988-12-01,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
1,1988,4,12,2,5,1988-12-02,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
2,1988,4,12,3,6,1988-12-03,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
3,1988,4,12,4,7,1988-12-04,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
4,1988,4,12,5,1,1988-12-05,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
5,1988,4,12,6,2,1988-12-06,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
6,1988,4,12,7,3,1988-12-07,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
7,1988,4,12,8,4,1988-12-08,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
8,1988,4,12,9,5,1988-12-09,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None
9,1988,4,12,10,6,1988-12-10,AA,19805,AA,None,...,None,None,None,0,0,None,None,None,None,None

In [6]:
delay.groupBy('Year').count().collect()

[Row(Year='1988', count=5202096),
 Row(Year='1987', count=1311826),
 Row(Year='1989', count=5041200),
 Row(Year='1990', count=5270893),
 Row(Year='1991', count=5076925),
 Row(Year='1992', count=5092157),
 Row(Year='1993', count=5070501),
 Row(Year='1994', count=5180048),
 Row(Year='1995', count=5327435),
 Row(Year='1996', count=5351983),
 Row(Year='1997', count=5411843),
 Row(Year='1998', count=5384721),
 Row(Year='1999', count=5527884),
 Row(Year='2000', count=5683047),
 Row(Year='2001', count=5967780),
 Row(Year='2002', count=5271359),
 Row(Year='2003', count=6488540),
 Row(Year='2004', count=7129270),
 Row(Year='2005', count=7140596),
 Row(Year='2006', count=7141922),
 Row(Year='2007', count=7455458),
 Row(Year='2008', count=7009726),
 Row(Year='2009', count=6450285),
 Row(Year='2010', count=6450117),
 Row(Year='2011', count=6085281),
 Row(Year='2012', count=6096762),
 Row(Year='2013', count=6369482),
 Row(Year='2014', count=5819811),
 Row(Year='2015', count=5819079),
 Row(Year='2016', count=5617658),
 Row(Year='2017', count=5674621),
 Row(Year='2018', count=7213446),
 Row(Year='2019', count=7422037),
 Row(Year='2020', count=4688354),
 Row(Year='2021', count=5443512)]